---
layout: default
classname: home
---

{% assign pages = site.pages | sort: 'order' %}

<h1>Welcome to SSC6!</h1>
<p>
    We’re excited to have you here to contribute your creativity, 
    connect with friends all around the world, and appreciate inspiring music!<br/>
    <b>The rules below should explain everything you need to know about SSC6!</b><br/>
    If you have any questions, check out the “<i>Frequently Asked Questions</i>” below, or contact:
    <br/>
    @joshuasodil
    <br/>
    @teemuth
    <br/>
    @jonathankennedy
    
</p>
<h2 class="rules-h">Guides</h2>
<div class="pages">
    {% for page in pages %}
        {% if page.title and page.emoji %}
        <a href="{{ page.url | prepend: site.baseurl }}">
            <span class="emoji">{{ page.emoji }}</span>
            <b>{{ page.title }}</b>
            <i>{{ page.short_description }}</i>
        </a>
        {% endif %}
    {% endfor %}
</div>
