body {
    margin: 0;
    background-color: $base-background-color;
    color: $base-text-color;
    font-family: $base-font-family;
    font-size: $base-font-size;
    font-weight: 400;
    -webkit-text-size-adjust: 100%;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    font-weight: 400;
}

h1 {
    font-weight: 700;
}

h2 {
    font-weight: 600;
}

h3, h4, h5, h6 {
    font-weight: 500;
}