.header {
    height: 240px;
    background-color: #8b5989;
    background-image: url($site-baseurl + '/assets/img/header_bg.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}