.header {
    position: relative;
    height: 240px;
    background-color: $base-active-bg-color;
    background-image: url($site-baseurl + '/assets/img/header_bg.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    .socials {
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 1200px;
        max-width: 1200px;
        text-align: right;
        transform: translateX(-50%);

        a {
            display: inline-block;
            padding: 6px 12px;
            background-color: $base-background-color;
            border-top-left-radius: $base-border-radius;
            border-top-right-radius: $base-border-radius;
            color: $base-text-color;
            font-size: .9rem;
            text-decoration: none;
            transition: .1s;

            &:not(:last-child) {
                margin-right: 6px;
            }

            &:hover, &:active {
                color: $base-active-color;
                transition: .3s;
            }
        }

        .back_home {
            position: absolute;
            bottom: 0;
            left: 0;
        }

        @include media-query($media-size-laptop) {
            width: calc(100% - 32px);
            max-width: calc(100% - 32px);
            left: unset;
            left: 16px;
            right: 16px;
            transform: none;
        }

        @include media-query($media-size-small-tablet) {
            a {
                span {
                    display: none;
                }
            }
        }
    }
}

.wrapper {
    margin: 64px auto;
    width: 1200px;
    max-width: 1200px;

    @include media-query($media-size-laptop) {
        margin: 64px 16px;
        width: calc(100% - 32px);
        max-width: calc(100% - 32px);
    }
}

.footer {
    margin: 128px auto;
    width: 1200px;
    max-width: 1200px;
    text-align: center;
    font-size: .8rem;
    line-height: 1.4rem;
}