.home {
    .rules-h {
        margin-top: 48px;
    }

    .pages {
        margin-top: 12px;

        a {
            display: flex;
            align-items: center;
            padding: 12px 24px 12px 3px;
            border: 2px dashed $base-border-color;
            border-radius: $base-border-radius;
            color: $base-text-color;
            text-decoration: none;

            &:not(:last-child) {
                margin-bottom: 6px;
            }

            &:hover, &:active {
                border-color: $base-active-bg-color;
            }

            span {
                margin-right: 6px;
            }

            i {
                flex: 1;
                justify-self: flex-end;
                margin-left: 12px;
                text-align: right;
                font-size: .9rem;
            }

            @include media-query($media-size-normal-tablet) {
                flex-direction:  column;
                row-gap: 6px;

                &:not(:last-child) {
                    margin-bottom: 12px;
                }

                i {
                    text-align: center;
                }
            }
        }
    }
}

.page {
    h1 {
        margin-bottom: 48px;
    }

    h2 {
        margin-top: 48px;
        margin-bottom: 24px;
    }

    h3, h4, h5, h6 {
        margin-top: 24px;
        margin-bottom: 12px;
    }

    p, li {
        text-align: justify;
        line-height: 1.6rem;
    }

    a {
        color: $base-active-color;
        text-decoration: none;
        transition: .1s;

        &:hover, &:active {
            text-decoration: underline;
            transition: .3s;
        }
    }

    .results {

        .result {
            position: relative;
            height: 32px;
            background-color: #000;
            border-radius: $base-border-radius;

            &:not(:last-child) {
                margin-bottom: 12px;
            }

            a {
                color: white !important;
                text-decoration: underline !important;
            }

            .p {
                position: absolute;
                top: 0;
                left: 0;
                width: var(--w);
                height: 100%;
                background-color: #573856;
                border-radius: $base-border-radius;
            }

            .d {
                position: absolute;
                top: 50%;
                left: 12px;
                transform: translateY(-50%);
            }

            @include media-query($media-size-big-mobile) {
                padding: 3px;
                height: 48px;
            }
        }
    }
}